.row > div {
    padding-left: 15px;
    padding-bottom: 15px;
}
.transaction-submit {
    width: 100%;
}
.page-header > h1 {
    text-align: center;
}
.error-input {
    border-color: red !important;
}
.g-hidden {
    display: none;
}
