<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Monkey Money</title>
    </head>
    <body>
        <header class="page-header">
            <h1>Monkey Money</h1>
        </header>
        <form action="{% url 'create_transaction' %}" method="post" accept-charset="utf-8" class="transaction-form">
            {% csrf_token %}
            <div class="container">
                <p class="bg-success success-message g-hidden">
                    Transaction created
                </p>
                <p>
                    <div class="bg-danger errors">
                        {{ form.errors }}
                    </div>
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">{{ form.from_user.label }}</span>
                            {{ form.from_user }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">{{ form.amount.label }}</span>
                            <input type="number" class="form-control" step="0.01" name="{{ form.amount.name }}" value="{{ form.amount.value }}" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">{{ form.receivers_tax_id.label }}</span>
                            <input type="text" class="form-control" name="{{ form.receivers_tax_id.name }}" value="{{ form.receivers_tax_id.value| default_if_none:"" }}" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="transaction-submit btn btn-lg btn-success" value="OK" />
                    </div>
                </div>
            </div>
        </form>
    </body>
    <script>
        var CREATE_TRANSACTION_URL = "{% url 'create_transaction' %}";
    </script>
    <link href="{{ STATIC_URL }}main.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}jquery-3.2.1.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}main.js"></script>
</html>
